<h1>Contact Us</h1>

<p>Phone: <%= @phone %></p>
<p>Email: <%= mail_to('mail@fifikim.com') %></p>

<br />
<p><%= link_to("Home", {action: 'index'}) %> <%= link_to("Hello", {action: 'hello'}) %> <%= link_to("About Us", {action: 'about'}) %></p>