<h1>This is the hello page</h1>

<h3><%= 1 + 1 %></h3>

<br />

<% target = 'world' %>
<%= "Hello #{target}!" %>

<% @array.each do |n| %>
  <p><%= n %><p>
<% end %>

<br />

ID: <%= @id %><br />
ID: <%= params[:id] %><br />
Page: <%= @page %><br />

<p><%= link_to("Home", {action: 'index'}) %> <%= link_to("About Us", {action: 'about'}) %> <%= link_to("Contact Us", {action: 'contact', country: 'us'}) %></p>